L4/lab4 (2)/lab1245/q1.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <!-- Define elements -->
  <xs:element name="bank">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accounts" type="accountsType"/>
        <xs:element name="customers" type="customersType"/>
        <xs:element name="customer_accounts" type="customerAccountsType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:complexType name="accountsType">
    <xs:sequence>
      <xs:element name="savings_accounts" type="savingsAccountsType"/>
      <xs:element name="checking_accounts" type="checkingAccountsType"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="savingsAccountsType">
    <xs:sequence>
      <xs:element name="savings_account" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="balance" type="xs:integer"/>
          </xs:sequence>
          <xs:attribute name="id" type="xs:string"/>
          <xs:attribute name="interest" type="xs:decimal"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="checkingAccountsType">
    <xs:sequence>
      <xs:element name="checking_account" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="balance" type="xs:integer"/>
          </xs:sequence>
          <xs:attribute name="id" type="xs:string"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="customersType">
    <xs:sequence>
      <xs:element name="customer" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="address" type="xs:string"/>
          </xs:sequence>
          <xs:attribute name="id" type="xs:string"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="customerAccountsType">
    <xs:sequence>
      <xs:element name="customer_account" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="c_id" type="xs:string"/>
          <xs:attribute name="ac_id" type="xs:string"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>
